@model Bibliotheques.ApplicationCore.Entites.Usager
@using Bibliotheques.MVC.Extensions

@{
    ViewData["Title"] = "Détails";
}

<h1>Détails</h1>

<div>
    <h4>du profil de l'usager: @Html.DisplayFor(model => model.NumAbonne)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Statut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Statut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Defaillance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Defaillance)
        </dd>
    </dl>
</div>
<hr />
<h4>Historique d'emprunt(s)</h4>
<hr />
<div>
    @if (Model.Emprunts != null)
    {
        <table class="table">
            <tr>
                <th>Code</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Date d'emprunt </th>
                <th>Date du retour</th>

            </tr>
            @foreach (var item in Model.Emprunts.OrderBy(d => d.DateEmprunt))
            {
                <tr>
                    <td>
                        @item.Livre.CodeLivre
                    </td>
                    <td>
                        @item.Livre.Titre
                    </td>
                    <td>
                        @item.Livre.Auteurs
                    </td>
                    <td>
                        @item.DateEmprunt
                    </td>
                    @{
                        var dateLimiteEmprunt = item.ObtenirDateLimite((int)ViewBag.JoursLocation);
                        var empruntRetourneEnRetard = item.DateRetour > dateLimiteEmprunt.Date;
                        var empruntNonRetourne = item.DateRetour == DateTime.MinValue;

                        if (empruntNonRetourne && DateTime.Today > dateLimiteEmprunt)
                        {
                            <td class="font-italic en-retard">
                                <img class="iconStatutEmprunt" src="/images/Icon_ExclamationMark.png" alt="" />
                                Non retourné.
                                <br />
                                L'échéance de cet emprunt est dépassée!
                                <br />
                                Date d'échéance: @dateLimiteEmprunt.ToShortTimeString()
                            </td>
                        }
                        else if (empruntNonRetourne)
                        {
                            <td class="en-attente">
                                <img class="iconStatutEmprunt" src="/images/Icon_Pending.png" alt="" />
                                Non retourné.
                                <br />
                                Date d'échéance: @dateLimiteEmprunt
                            </td>
                        }
                        else if (empruntRetourneEnRetard)
                        {
                            <td class="en-retard">
                                <img class="iconStatutEmprunt" src="/images/Icon_ExclamationMark.png" alt="" />
                                L'échéance de cet emprunt a été dépassée!
                                <br />
                                Date limite : @dateLimiteEmprunt
                                <br />
                                Date retournée : @item.DateRetour
                            </td>
                        }
                        else
                        {
                            <td id="retourne">
                                <img class="iconStatutEmprunt" src="/images/Icon_Checkmark.png" alt="" /> @item.DateRetour
                            </td>
                        }
                    }
                </tr>
            }
        </table>

    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Modifier</a> |
    <a asp-action="Index">Retour à la liste des usagers</a>
</div>
