@model Bibliotheques.MVC.Models.Livre

@{
    ViewData["Title"] = "Supprimer un livre";
}

<h1>Supprimer</h1>

<h3>Êtes-vous certain de vouloir supprimer ce livre?</h3>
<div>
    <h4>Livre</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isbn10)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isbn10)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isbn13)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isbn13)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categorie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Auteurs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Auteurs)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Retour à la liste des livres</a>
    </form>
</div>
