@model Bibliotheque_LIPAJOLI.Models.Livre

@{
    ViewData["Title"] = "Détails du livre";
}

<h1>Détails</h1>

<div>
    <h4>Livre</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodeLivre)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.CodeLivre)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Isbn10)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Isbn10)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Isbn13)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Isbn13)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categorie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prix)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prix)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auteurs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auteurs)
        </dd>
    </dl>
</div>
<hr/>
<h4>Historique d'emprunt(s)</h4>
<hr />
<div>
<table class="table">
    <tr>
        <th>Numéro d'abonné</th>
        <th>Date d'emprunt</th>
        <th>Est Retourné</th>
    </tr>
    @foreach (var item in Model.Emprunts.OrderByDescending(_ => _.DateEmprunt))
    {
        string classeTexteRouge = "";
        bool nEstPasRetourne = item.DateRetour == DateTime.MinValue;
        if (nEstPasRetourne)
        {
            classeTexteRouge = "text-danger";
        }

        <tr class="@classeTexteRouge">
            <td>
                @Html.DisplayFor(modelItem => item.NumAbonne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEmprunt)
            </td>
            <td>
                @{ 
                    if (nEstPasRetourne)
                    {
                        @Html.Raw("Non")
                    }
                    else
                    {
                        @Html.Raw("Oui")
                    }
                }
            </td>
        </tr>
    }
</table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CodeLivre">Modifier</a> |
    <a asp-action="Index">Retour à la liste des livres</a>
</div>
