@model IEnumerable<Bibliotheque_LIPAJOLI.Models.Livre>

@{
    ViewData["Title"] = "LIPAJOLI - Livres";
}

<h1>Bibliothèque LIPAJOLI - Liste des livres</h1>

<p>
    <a asp-action="Create">Ajouter un livre à la bibliothèque</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Isbn10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isbn13)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categorie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auteurs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Isbn10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isbn13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categorie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auteurs)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodeLivre">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.CodeLivre">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.CodeLivre">Effacer</a>
            </td>
        </tr>
}
    </tbody>
</table>
