@model Bibliotheque_LIPAJOLI.Models.Usager

@{
    ViewData["Title"] = "Suprimer";
}

<h1>SUPRESSION</h1>

<h3>Êtes-vous certain(e) de vouloir supprimer définitivement le profil de cet usager?</h3>
<div>
    <h4> @Html.DisplayFor(model => model.Nom), @Html.DisplayFor(model => model.Prenom)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Statut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Defaillance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Defaillance)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NumAbonne" />
        <input type="submit" value="Suprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Retour à la liste des usagers</a>
    </form>
</div>
