@model Bibliotheque_LIPAJOLI.Models.Usager

@{
    ViewData["Title"] = "Détails";
}

<h1>Détails</h1>

<div>
    <h4>de du profil de l'usager</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Statut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Defaillance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Defaillance)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NumAbonne">Modifier</a> |
    <a asp-action="Index">Retour à la liste des usagers</a>
</div>
