@model Bibliotheque_LIPAJOLI.Models.Usager
@using Bibliotheque_LIPAJOLI.Extensions

@{
    ViewData["Title"] = "Détails";
}

<h1>Détails</h1>

<div>
    <h4>du profil de l'usager: @Html.DisplayFor(model => model.NumAbonne)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Statut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Statut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Defaillance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Defaillance)
        </dd>
    </dl>
</div>
<hr />
<h4>Historique d'emprunt(s)</h4>
<hr />
<div>
    @if (Model.Emprunts != null)
    {
        <table class="table">
            <tr>
                <th>Code</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Date d'emprunt </th>
                <th>Date du retour</th>

            </tr>
            @foreach (var item in Model.Emprunts.OrderBy(d => d.DateEmprunt))
            {
                <tr>
                    <td>
                        @item.Livre.CodeLivre
                    </td>
                    <td>
                        @item.Livre.Titre
                    </td>
                    <td>
                        @item.Livre.Auteurs
                    </td>
                    <td>
                        @item.DateEmprunt
                    </td>
                    
                    @{
                        var dateLimiteEmprunt = item.ObtenirDateLimite((int) ViewBag.JoursLocation);

                        if (dateLimiteEmprunt < DateTime.Now)
                        {
                            <td id="retard">
                                L'échéance de cet emprunt est dépassée:
                                <br />
                                <img class="iconStatutEmprunt" src="Icon_ExclamationMark.png" /> @dateLimiteEmprunt
                            </td>
                        }
                        else if (item.DateRetour == DateTime.MinValue)
                        {
                            <td id="pending">
                                Non retourné.
                                <br />
                                <img class="iconStatutEmprunt" src="Icon_Pending.png" /> Date d'échéance: @dateLimiteEmprunt
                            </td>
                        }
                        else
                        {
                            <td id="retourne">
                                <img class="iconStatutEmprunt" src="Icon_Checkmark.png" /> @item.DateRetour
                            </td>
                        }
                    }
                </tr>
            }

        </table>

    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NumAbonne">Modifier</a> |
    <a asp-action="Index">Retour à la liste des usagers</a>
</div>
