@model Bibliotheques.MVC.Models.Emprunt
@using Bibliotheques.MVC.Extensions 

@{
    ViewData["Title"] = "Edit";
}

<h1>Modifier</h1>

<div>

    @{
        var dateLimiteEmprunt = Model.ObtenirDateLimite((int)ViewBag.JoursLocation);
        var empruntRetourneEnRetard = Model.DateRetour > dateLimiteEmprunt.Date;
        var empruntNonRetourne = Model.DateRetour == DateTime.MinValue;

        if (empruntNonRetourne && DateTime.Today > dateLimiteEmprunt)
        {
            <h4 class="font-italic en-retard">
                  l'emprunt du  @Html.DisplayFor(model => model.DateEmprunt) par @Html.DisplayFor(model => model.Usager.Prenom) @Html.DisplayFor(model => model.Usager.Nom) <img class="iconStatutEmprunt" src="/images/Icon_ExclamationMark.png" alt="" />
            </h4>
        }
        else if (empruntNonRetourne)
        {
            <h4 class="en-attente">
                  l'emprunt du  @Html.DisplayFor(model => model.DateEmprunt) par @Html.DisplayFor(model => model.Usager.Prenom) @Html.DisplayFor(model => model.Usager.Nom) <img class="iconStatutEmprunt" src="/images/Icon_Pending.png" alt="" />
            </h4>
        }
        else if (empruntRetourneEnRetard)
        {
            <h4 class="en-retard">
                  l'emprunt du  @Html.DisplayFor(model => model.DateEmprunt) par @Html.DisplayFor(model => model.Usager.Prenom) @Html.DisplayFor(model => model.Usager.Nom) <img class="iconStatutEmprunt" src="/images/Icon_ExclamationMark.png" alt="" />
            </h4>
        }
        else
        {
            <h4 id="retourne">
                  l'emprunt du  @Html.DisplayFor(model => model.DateEmprunt) par @Html.DisplayFor(model => model.Usager.Prenom) @Html.DisplayFor(model => model.Usager.Nom) <img class="iconStatutEmprunt" src="/images/Icon_Checkmark.png" alt="" />
            </h4>
        }
    }

</div>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Usager.Prenom)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Usager.Prenom)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Usager.Nom)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Usager.Nom)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Usager.NumAbonne)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Usager.NumAbonne)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Livre.Titre)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Livre.Titre)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Livre.Isbn13)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Livre.Isbn13)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.DateEmprunt)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.DateEmprunt)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.DateRetour)
                </dt>
                <dd class="col-sm-9">
                    @Html.Raw(Model.DateEmprunt.AddDays(ViewBag.NbJoursLimite));
                </dd>
                <div class="form-group">
                    <input type="submit" value="Retourner le livre" class="btn btn-primary" />
                </div>
</form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste des emprunts</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
